@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* starting position of sidebar */
  width: 300px;
  height: 100vh;
  overflow-x: hidden; /* prevents overflow */
  background: #fff;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}